.employee-btn{
    border-radius: 54px 54px 9px 9px !important;
    background-color: #eef2f7 !important;
    box-shadow: 0px 2px 6px 0px #8391a2;
    border-color:#eef2f7;
    color:#313a46;
    }

.employeee{
    border-radius: 54px 54px 9px 9px !important;
}


.uil-plus{
    font-size: 20px !important;
}


.table-head{
    background-color: #313a46!important;
}

.left-employee-btn{
    border-radius: 54px 54px 9px 9px !important;
    background-color: #eef2f7 !important;
    box-shadow: 0px 2px 6px 0px #8391a2;
    border-color:#eef2f7;
    color: #313a46;
    }

.create-btn{
    background-color: #313a46 !important;
    box-shadow: 0px 2px 6px 0px #313a46;
    border-color: #313a46; 
}

.employee{
    background-color: #313a46 !important;
    color: white !important;
    box-shadow: 0px 2px 6px 0px #313a46 !important;
}

.btn-secondary:hover{
    color: #313a46;
    border-color:white !important;
}
.employee:hover{
    color: white;
}

.create-btn:hover{
    color: white !important;
}

.left-head{
    width: 8.33% !important;
}

.left-data{
    width: 8.33%;
}
.table_hoveWork tbody tr td .txt_showDots{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table_hoveWork tbody tr:hover{
    background-color:#f1f3fa;
}
.table_hoveWork tbody tr:hover td .txt_showDots{
    overflow: inherit!important;
    text-overflow: initial!important;
    white-space: normal!important;
}

.staffmanagment_width{
    width: 6rem;
}
